body{
    background: linear-gradient(to right, #18181B, black);
    font-family: sans-serif;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

a{
    text-align: center;
    width: 10%;
    padding: 5px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h1{
    text-align:center;
    color: white;
}

span{
    color: #8b989c;
}

.boton {
    background-color: #4e4e4e;
    width: 20em;
    padding: 0.8em;
    margin: 0.6em;
}