<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Formulario Checkout</title>

  <link rel="stylesheet" th:href="@{/css/barra-navegacion.css}"/>
  <link rel="stylesheet" th:href="@{/css/formulario.css}"/>
  <script src="https://sdk.mercadopago.com/js/v2"></script>

</head>
<body>

<nav id="nav-bar">
  <a href="http://localhost:8080/equipomokito/eventos"><h1 id="titulo-pagina">Equipo mokito</h1></a>
  <ul id="botones-nav">
    <li class="boton-nav"><a href="" id="boton_eventos">Eventos</a></li>
    <li class="boton-nav"><a href="">Contacto</a></li>
    <li class="boton-nav"><a href="">Usuario</a></li>
  </ul>
</nav>

<main>
  <div id="wallet_container"></div>
    const mp = new MercadoPago('YOUR_PUBLIC_KEY', {
      locale: 'es-AR'
    });

    mp.bricks().create("wallet", "wallet_container", {
      initialization: {
        preferenceId: "<PREFERENCE_ID>",
      },
    });
    </main>
<script th:src="@{js/mercadoPagoCheckout.js}"></script>
<script src="https://sdk.mercadopago.com/js/v2" defer></script>
</body>
</html>