<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Compra Realizada</title>
    <link rel="stylesheet" th:href="@{/css/compraRealizada.css}">

</head>
<body>

<div class="contenedor">
    <h1>¡Gracias <span th:text="${nombre} "></span>  <span th:text="${apellido}"></span> por realizar su compra en MokitoPass!</h1>
    <a href="http://localhost:8080/equipomokito/eventos">Volver</a>
</div>



</body>
</html>