<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eventos</title>
    <!--<link rel="stylesheet" th:href="@{../../../resources/core/css/eventos.css}">-->
    <link rel="stylesheet" th:href="@{/css/eventos.css}"/>
</head>
<body>

    <nav>
        <h1>Equipo mokito</h1>
        <ul class="nav-bar">
            <li><a href="">Eventos</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Usuario</a></li>
        </ul>
    </nav>

    <form action="/equipomokito/eventos" method="get" class="barrita">
        <input type="text" name="nombre" placeholder="Ingrese el nombre del evento que está buscando...">
        <select>
            <option>Provincia</option>
        </select>
        <select>
            <option>Ciudad</option>
        </select>
        <button>Buscar</button>
    </form>

    <form method="get" th:action="@{/eventos/filtrar/categoria}" class="botones_categorias">
        <button type="submit" name="categoria" value="concierto">Conciertos</button>
        <button type="submit" name="categoria" value="teatro">Teatro</button>
        <button type="submit" name="categoria" value="fiesta">Fiestas</button>
        <button type="submit" name="categoria" value="convencion">Convenciones</button>
        <button type="submit" name="categoria" value="deporte">Deportes</button>
        <button type="submit" name="categoria" value="familia">Familia</button>
        <button type="submit" name="categoria" value="otro">Otros</button>
    </form>


    <h2>Nuestros eventos</h2>
    <div class="contenedor-evento">
        <div class="eventos">
            <!-- th:each sirve para iterar -->
            <div th:each="evento : ${eventos}" class="evento">
                <a th:href="@{/eventos/{id}(id=${evento.id})}">
                    <h3 th:text="${evento.nombre}"></h3>
                    <p th:text="${evento.lugar}"></p>
                    <p th:text="${evento.fecha}"></p>
                    <img th:src="${evento.imagenUrl}" alt="img">
                </a>
            </div>
        </div>
    </div>

</body>
</html>