<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eventos</title>
    <link rel="stylesheet" th:href="@{/css/barra-navegacion.css}"/>
    <link rel="stylesheet" th:href="@{/css/eventos.css}"/>
</head>
<body>

    <nav id="nav-bar">
        <h1 id="titulo-pagina">Equipo mokito</h1>
        <ul id="botones-nav">
            <li class="boton-nav"><a href="" id="boton_eventos">Eventos</a></li>
            <li class="boton-nav"><a href="">Contacto</a></li>
            <li class="boton-nav"><a href="">Usuario</a></li>
        </ul>
    </nav>

    <form action="/equipomokito/eventos" method="get" class="barrita">
        <input type="text" name="nombre" placeholder="Ingrese el nombre del evento que está buscando...">

            <select id="provincia" name="provinciaNombre">
                <option value="">Seleccione una provincia</option>
                <option th:each="provincia : ${provincias}"
                        th:value="${provincia.nombre}"
                        th:text="${provincia.nombre}">Provincia</option>
            </select>

            <select id="ciudad" name="ciudadNombre">
                <option value="">Seleccione una ciudad</option>
            </select>
        <button>Buscar</button>
    </form>

    <div class="botones_categorias">
    <button>Conciertos</button>
    <button>Teatro</button>
    <button>Fiestas</button>
    <button>Convenciones</button>
    <button>Deportes</button>
    <button>Familia</button>
    <button>Otros</button>
    </div>


    <h2>Nuestros eventos</h2>
    <div class="contenedor-evento">
        <div class="eventos">
            <!-- th:each sirve para iterar -->
            <div th:each="evento : ${eventos}" class="evento">
                <a th:href="@{/eventos/{id}(id=${evento.id})}">
                    <h3 th:text="${evento.nombre}"></h3>
                    <p th:text="${evento.lugar}"></p>
                    <p th:text="${evento.fecha}"></p>
                    <img th:src="${evento.imagenUrl}" alt="img">
                </a>
            </div>
        </div>
    </div>

    <script th:src="@{js/eventos.js}"></script>
</body>
</html>