<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario Pago</title>

    <link rel="stylesheet" th:href="@{/css/barra-navegacion.css}"/>
    <link rel="stylesheet" th:href="@{/css/formulario.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>
<body>

<nav id="nav-bar">
    <a href="http://localhost:8080/equipomokito/eventos"><h1 id="titulo-pagina">Equipo mokito</h1></a>
    <ul id="botones-nav">
        <li class="boton-nav"><a href="http://localhost:8080/equipomokito/eventos" id="boton_eventos">Eventos</a></li>
        <li class="boton-nav"><a href="">Contacto</a></li>
        <li class="boton-nav" th:if="${session.ID != null}"><a th:href="@{/misEntradas}">Mis Entradas</a></li>
        <li class="boton-nav" th:if="${session.ID == null}">
            <a th:href="@{/login}">Ingresar</a>
        </li>
        <li class="boton-nav" th:if="${session.ID != null}">
            <a th:href="@{/usuario}">Usuario</a>
        </li>
    </ul>
</nav>

<main>

    <form th:action="@{/checkout/create-payment}" id="formulario" method="post" accept-charset="UTF-8">

        <section class="contenedor">

            <article class="cajaUno">

                <article class="datos">

                    <h2>Complete con sus datos</h2>

                    <label for="nombre">Nombre</label>
                    <input class="data" type="text" id="nombre" name="nombre" placeholder="Ingresar nombre">

                    <div id="errorNombre" class="error"></div>

                    <label for="apellido">Apellido</label>
                    <input class="data" type="text" id="apellido" name="apellido" placeholder="Ingresar apellido">

                    <div id="errorApellido" class="error"></div>

                    <label for="correo">Correo electrónico</label>
                    <input class="data" type="email" id="correo" name="correo" placeholder="Ingresar correo electrónico">

                    <div id="errorCorreo" class="error"></div>

                    <label for="correoRep">Repetir correo electrónico</label>
                    <input class="data" type="email" id="correoRep" name="correoRep" placeholder="Repetir correo electrónico">

                    <div id="errorCorreoRep" class="error"></div>

                    <label for="telefono">Número telefónico</label>
                    <input class="data" type="number" id="telefono" name="telefono" placeholder="Ingresar número">

                    <div id="errorTelefono" class="error"></div>

                    <label for="dni">DNI</label>
                    <input class="data" type="text" id="dni" name="dni" placeholder="Ingresar número de documento">

                    <div id="errorDNI" class="error"></div>

                </article>

                <fieldset class="mensajeAdv">
                    <p>ATENCIÓN: ¡Recuerde revisar que su correo electrónico sea el correcto,
                    ya que será utilizado para enviar sus accesos al evento!</p>
                </fieldset>


                <input class="check" type="checkbox" id="aceptacionTerminos" name="aceptacionTerminos" onclick="mostrarTermYCond()">
                <label for="aceptacionTerminos">Acepto los términos y condiciones.</label>

                <div id="errorTYC" class="error"></div>

                <div id="termsPopup" class="modal hidden">
                    <div id="popup-contenido" class="modal-content">
                        <h2>Terminos y Condiciones</h2>
                            <div class="terminos_contenido">
                                <ol type="1">
                                    <li> <h3>Objeto</h3>
                                        Este sitio web ofrece un servicio de venta de entradas para eventos como recitales y obras de teatro.
                                        Al realizar una compra, el usuario acepta estos términos y condiciones.</li>
                                    <li> <h3>Compra de Entradas</h3>
                                        Todas las compras son definitivas y están sujetas a la disponibilidad de entradas en el momento de la transacción.</li>
                                    <li> <h3>Uso Personal</h3>
                                        Las entradas adquiridas son para uso personal y no se permite su reventa, cesión, o distribución sin autorización.
                                    </li>
                                    <li> <h3>Política de Reembolso</h3>
                                        No se aceptan devoluciones ni cambios una vez completada la compra, excepto en casos de cancelación del evento.
                                    </li>
                                    <li> <h3>Cancelación de Eventos</h3>
                                        En caso de cancelación o cambio de fecha, el usuario será notificado a través del correo electrónico proporcionado
                                        al momento de la compra y podrá optar por el reembolso según nuestras políticas.
                                    </li>
                                    <li> <h3>Limitación de Responsabilidad</h3>
                                        La empresa no se responsabiliza por pérdidas o daños relacionados con el uso o asistencia al evento.
                                    </li>
                                    <li> <h3>Derechos de Admisión</h3>
                                        La organización del evento se reserva el derecho de admisión y permanencia en el recinto.
                                    </li>
                                    <li> <h3>Condiciones de Acceso</h3>
                                        Las entradas deben presentarse impresas o en formato digital válido y serán verificadas en el ingreso al evento.
                                    </li>
                                    <li> <h3>Prohibiciones</h3>
                                        Queda prohibido ingresar con objetos peligrosos, alcohol, o sustancias ilícitas al recinto del evento.
                                    </li>
                                    <li> <h3>Responsabilidad del Usuario</h3>
                                        El usuario es responsable de proporcionar información verídica y actualizada durante el proceso de compra.
                                    </li>
                                    <li> <h3>Modificaciones en el Programa</h3>
                                        La empresa se reserva el derecho de modificar el programa del evento sin previo aviso, por motivos de
                                        fuerza mayor o ajenos a su control.
                                    </li>
                                    <li> <h3>Privacidad de Datos</h3>
                                        Los datos proporcionados por el usuario serán tratados de acuerdo con nuestra política de privacidad y
                                        no serán compartidos sin su consentimiento.
                                    </li>
                                    <li> <h3>Edad Mínima</h3>
                                        Algunos eventos pueden tener restricciones de edad. Es responsabilidad del usuario verificar estos
                                        requisitos antes de realizar la compra.
                                    </li>
                                    <li> <h3>Condiciones de Entrega</h3>
                                        Las entradas serán enviadas electrónicamente al correo proporcionado por el usuario. No nos
                                        responsabilizamos por la entrega fallida debido a errores en la información.
                                    </li>
                                    <li> <h3>Aceptación de Términos</h3>
                                        Al realizar la compra, el usuario acepta cumplir con estos términos y condiciones en su totalidad.
                                    </li>
                                </ol>
                            </div>
                        <div id="botonesTerminosYCond">
                        <button id="aceptarTerminosBoton" onclick="aceptarTYC()">Aceptar</button>
                        <button id="cancelarTerminosBoton" onclick="cerrarTerminosPopup()">Cancelar</button>
                        </div>
                    </div>
                </div>

            </article>


            <article class="cajaDos">

                <article class="contenedorEntrada">
                  <!--  <span th:text="${evento.nombre}"></span> -->
                <h2>Resumen de su compra para <span th:text="${evento.nombre}"></span></h2>
                <input type="hidden" name="nombreEvento" th:value="${evento.nombre}"/>
                <img id="portada-evento" th:src="${evento.imagenUrl}" th:alt="${evento.nombre}">
                    <table id="tabla-resumen-compra">
                        <thead>
                        <tr>
                            <th class="tipo-entrada">Tipo de Entrada</th>
                            <th class="cantidad-entrada">Cantidad</th>
                            <th class="subtotal-entrada">Subtotal</th>
                        </tr>
                        </thead>
                        <!-- Iterar sobre los items del carrito -->

                        <tbody>
                        <tr th:each="item: ${entradasCarrito}">
                            <td class="tipo-entrada" th:text="${item.entrada.nombre}">Tipo de Entrada
                              <!--  <input type="hidden" name="tipoEntrada" th:value="${item.entrada.nombre}"/> -->

                            </td>
                            <td class="cantidad-entrada" th:text="${item.cantidad}">Cantidad
                               <!-- <input type="hidden" name="cantidades" th:value="${item.cantidad}"/> -->
                            </td>

                            <td class="subtotal-entrada" th:attr="data-id=${item.totalCarrito}" th:text="${item.totalCarrito}">Subtotal
                              <!--  <input type="hidden" name="idsEntradas" th:value="${item.entrada.id}"/>
                                <input type="hidden" name="subtotales" th:value="${item.totalCarrito}"/> -->
                            </td>

                            <td>
                                <button class="borrar" id="tachito" th:attr="data-id=${item.entrada.id}" >
                                <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>

                            <input type="hidden" name="idsEntradas" th:value="${item.entrada.id}"/>
                            <input type="hidden" class="cantidad" name="cantidades" th:value="${item.cantidad}"/>
                            <input type="hidden" class="precioEntrada" name="precioEntrada" th:value="${item.entrada.precio}"/>
                            <input type="hidden" name="tipoEntrada" th:value="${item.entrada.nombre}"/>
                        </tr>
                        </tbody>
                    </table>

                    <div class="contenedor-precio">
                        <h3>Precio final</h3>
                        <h3>$ <span th:text="${totalCarrito}" id="precio-final-valor-original"></span></h3>
                    </div>

                    <div id="contenedor-descuento">
                        <h3>Código de Descuento</h3>
                        <input type="text" id="codigoDescuento" name="codigoDescuento" placeholder="Ingrese su código de descuento">
                        <button type="button" onclick="aplicarDescuento()">Aplicar descuento</button>
                    </div>

                    <div id="descuento-aplicado" class="contenedor-precio" style="display: none;">
                        <h3>Descuento 20%</h3>
                        <h3>- $ <span id="valor-descuento">0.00</span></h3>
                    </div>

                    <div id="precio-final-con-descuento" class="contenedor-precio" style="display: none;">
                        <h3>Precio final con descuento</h3>
                        <h3>$ <span id="precio-final-valor-con-descuento">0.00</span></h3>
                    </div>

                </article>

                <input class="botones enviar" id="boton-enviar" type="submit" value="Abonar">

                <button class="botones" id="boton-volver"><a th:href="@{/eventos}">Volver</a></button>

            </article>

        </section>

    </form>



</main>

<script th:src="@{js/verificarTYC.js}"></script>
<script th:src="@{js/formularioPago.js}"></script>
<script th:src="@{js/codigoDescuento.js}"></script>
</body>
</html>