<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario Pago</title>

    <link rel="stylesheet" th:href="@{/css/barra-navegacion.css}"/>
    <link rel="stylesheet" th:href="@{/css/formulario.css}"/>

</head>
<body>

<nav id="nav-bar">
    <a href="http://localhost:8080/equipomokito/eventos"><h1 id="titulo-pagina">Equipo mokito</h1></a>
    <ul id="botones-nav">
        <li class="boton-nav"><a href="" id="boton_eventos">Eventos</a></li>
        <li class="boton-nav"><a href="">Contacto</a></li>
        <li class="boton-nav"><a href="">Usuario</a></li>
    </ul>
</nav>

<main>

    <form th:action="@{/checkout/create-payment}" id="formulario" method="post" >

        <section class="contenedor">

            <article class="cajaUno">

                <article class="datos">

                    <h2>Complete con sus datos</h2>

                    <label for="nombre">Nombre</label>
                    <input class="data" type="text" id="nombre" name="nombre" placeholder="Ingresar nombre">

                    <label for="apellido">Apellido</label>
                    <input class="data" type="text" id="apellido" name="apellido" placeholder="Ingresar apellido">

                    <label for="correo">Correo electrónico</label>
                    <input class="data" type="email" id="correo" name="correo" placeholder="Ingresar correo electrónico">

                    <label for="correoRep">Repetir correo electrónico</label>
                    <input class="data" type="email" id="correoRep" name="correoRep" placeholder="Repetir correo electrónico">

                    <label for="telefono">Número telefónico</label>
                    <input class="data" type="number" id="telefono" name="telefono" placeholder="Ingresar número">

                    <label for="dni">DNI</label>
                    <input class="data" type="text" id="dni" name="dni" placeholder="Ingresar número de documento">

                </article>

                <fieldset class="mensajeAdv">
                    <p>ATENCIÓN: ¡Recuerde revisar que su correo electrónico sea el correcto,
                    ya que será utilizado para enviar sus accesos al evento!</p>
                </fieldset>


                <input class="check" type="checkbox" id="acepto" name="acepto">
                <label for="acepto">Acepto los términos y condiciones</label>

                <fieldset class="normas">
                    <ol>
                        <li>Una vez realizada la compra, te llegará un mail el código QR que te permitirá entrar al show de manera directa.</li>
                        <li>También puedes acceder al código QR entrando a la sección "Mis entradas" de tu Perfil de Usuario.</li>
                        <li>Los tickets adquiridos son válidos solo en el horario del evento.</li>
                        <li>No se permite la redistribución o difusión del QR de acceso.</li>
                    </ol>
                </fieldset>

            </article>


            <article class="cajaDos">

                <article class="contenedorEntrada">
                  <!--  <span th:text="${evento.nombre}"></span> -->
                <h2>Resumen de su compra para <span th:text="${evento.nombre}"></span></h2>
                <input type="hidden" name="nombreEvento" th:value="${evento.nombre}"/>
                <img id="portada-evento" th:src="${evento.imagenUrl}" th:alt="${evento.nombre}">
                    <table id="tabla-resumen-compra">
                        <thead>
                        <tr>
                            <th class="tipo-entrada">Tipo de Entrada</th>
                            <th class="cantidad-entrada">Cantidad</th>
                            <th class="subtotal-entrada">Subtotal</th>
                        </tr>
                        </thead>
                        <!-- Iterar sobre los items del carrito -->

                        <tbody>
                        <tr th:each="item: ${entradasCarrito}">
                            <td class="tipo-entrada" th:text="${item.entrada.nombre}">Tipo de Entrada
                              <!--  <input type="hidden" name="tipoEntrada" th:value="${item.entrada.nombre}"/> -->

                            </td>
                            <td class="cantidad-entrada" th:text="${item.cantidad}">Cantidad
                               <!-- <input type="hidden" name="cantidades" th:value="${item.cantidad}"/> -->
                            </td>

                            <td class="subtotal-entrada" th:attr="data-id=${item.totalCarrito}" th:text="${item.totalCarrito}">Subtotal
                              <!--  <input type="hidden" name="idsEntradas" th:value="${item.entrada.id}"/>
                                <input type="hidden" name="subtotales" th:value="${item.totalCarrito}"/> -->
                            </td>

                            <td>
                                <button class="borrar" id="tachito" th:attr="data-id=${item.entrada.id}" >borrar</button>
                            </td>

                            <input type="hidden" name="idsEntradas" th:value="${item.entrada.id}"/>
                            <input type="hidden" class="cantidad" name="cantidades" th:value="${item.cantidad}"/>
                            <input type="hidden" class="precioEntrada" name="precioEntrada" th:value="${item.entrada.precio}"/>
                            <input type="hidden" name="tipoEntrada" th:value="${item.entrada.nombre}"/>
                        </tr>
                        </tbody>
                    </table>

                    <div class="contenedor-precio">
                        <h3>Precio final</h3>
                        <h3>$ <span th:text="${totalCarrito}" id="precio-final-valor-original"></span></h3>
                    </div>

                    <div id="contenedor-descuento">
                        <h3>Código de Descuento</h3>
                        <input type="text" id="codigoDescuento" name="codigoDescuento" placeholder="Ingrese su código de descuento">
                        <button type="button" onclick="aplicarDescuento()">Aplicar descuento</button>
                    </div>

                    <div id="descuento-aplicado" class="contenedor-precio" style="display: none;">
                        <h3>Descuento 20%</h3>
                        <h3>- $ <span id="valor-descuento">0.00</span></h3>
                    </div>

                    <div id="precio-final-con-descuento" class="contenedor-precio" style="display: none;">
                        <h3>Precio final con descuento</h3>
                        <h3>$ <span id="precio-final-valor-con-descuento">0.00</span></h3>
                    </div>

                </article>

                <input class="botones enviar" type="submit" value="Abonar">

                <button class="botones"><a th:href="@{/eventos}">Volver</a></button>

            </article>

        </section>

    </form>



</main>
  
<script th:src="@{js/formularioPago.js}"></script>
<script th:src="@{js/codigoDescuento.js}"></script>
</body>
</html>