<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eventos</title>
    <link rel="stylesheet" th:href="@{/css/barra-navegacion.css}"/>
    <link rel="stylesheet" th:href="@{/css/usuario.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>

<nav id="nav-bar">
    <a href="http://localhost:8080/equipomokito/eventos"><h1 id="titulo-pagina">Equipo mokito</h1></a>
    <ul id="botones-nav">
        <li class="boton-nav"><a href="http://localhost:8080/equipomokito/eventos" id="boton_eventos">Eventos</a></li>
        <li class="boton-nav"><a href="">Contacto</a></li>
        <li class="boton-nav" th:if="${session.ID != null}"><a th:href="@{/misEntradas}">Mis Entradas</a></li>
        <li class="boton-nav" th:if="${session.ID == null}">
            <a th:href="@{/login}">Ingresar</a>
        </li>
        <li class="boton-nav" th:if="${session.ID != null}">
            <a th:href="@{/usuario}">Usuario</a>
        </li>
    </ul>
</nav>

<div class="container-usuario" th:if="${usuarioVistaDTO != null}">

    <div class="titulo-usuario">
        <h2>Información de Usuario</h2>
    </div>

    <div class="tarjetas">
        <div class="tarjeta">
            <i class="icon fas fa-user"></i> Nombre: <span th:text="${usuarioVistaDTO.nombre}"></span>
        </div>
        <div class="tarjeta">
            <i class="icon fas fa-user"></i> Apellido: <span th:text="${usuarioVistaDTO.apellido}"></span>
        </div>
        <div class="tarjeta">
            <i class="icon fas fa-envelope"></i> Email: <span th:text="${usuarioVistaDTO.email}"></span>
        </div>
        <div class="tarjeta">
            <i class="icon fas fa-phone"></i> Teléfono: <span th:text="${usuarioVistaDTO.telefono}"></span>
        </div>
        <div class="tarjeta">
            <i class="icon fas fa-id-card"></i> Documento: <span th:text="${usuarioVistaDTO.dni}"></span>
        </div>
    </div>
    <br>
    <a th:href="@{/logout}" class="btn btn-primary mt-3" style="color:white">
        <i class="fas fa-sign-out-alt" ></i> Cerrar sesión
    </a>
</div>

<footer class="pie-de-pagina">
    <p>© 2024 Equipo Mokito</p>
</footer>
</body>
</html>