<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle</title>
    <link rel="stylesheet" th:href="@{/css/vista.css}">
</head>
<body>

<h1 class="titulo-evento"><span th:text="${vista.nombre}"></span></h1>
<div class="detalles">

    <img th:src="${vista.imagenUrl}">
    <div class="extras">
        <p>----------------------------------------------------</p>
        <p> <span class="nombre">Lugar:</span> <span th:text="${vista.lugar}"></span></p>
        <p> <span class="nombre">Fecha:</span> <span th:text="${vista.fecha}"></span></p>
        <p>----------------------------------------------------</p>

        <h2>Entradas Disponibles:</h2>
        <ul>
            <li th:each="entrada : ${entradas}">
                <h3 th:text="${entrada.nombre}"></h3>
                <p th:text="${entrada.precio}"></p>
            </li>
        </ul>


    </div>

</div>




</body>
</html>

