<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${vista.nombre}"></title>
    <link rel="stylesheet" th:href="@{/css/barra-navegacion.css}"/>
    <link rel="stylesheet" th:href="@{/css/vista.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
</head>
<body>

<nav id="nav-bar">
    <a href="http://localhost:8080/equipomokito/eventos"><h1 id="titulo-pagina">Equipo mokito</h1></a>
    <ul id="botones-nav">
        <li class="boton-nav"><a href="http://localhost:8080/equipomokito/eventos" id="boton_eventos">Eventos</a></li>
        <li class="boton-nav"><a href="http://localhost:8080/equipomokito/contacto">Contacto</a></li>
        <li class="boton-nav" th:if="${session.ID != null}"><a th:href="@{/misEntradas}">Mis Entradas</a></li>
        <li class="boton-nav" th:if="${session.ID == null}">
            <a th:href="@{/login}">Ingresar</a>
        </li>
        <li class="boton-nav" th:if="${session.ID != null}">
            <a th:href="@{/usuario}">Usuario</a>
        </li>
    </ul>
</nav>

<main class="contenedor">
    <article id="datos-evento">
        <div id="nombre-imagen-evento">
            <h2><span th:text="${vista.nombre}"></span></h2>
            <p id="fecha-evento">Fecha: <span th:text="${vista.fecha}"></span></p>
            <img th:src="${vista.imagenUrl}" th:alt="${vista.nombre}" id="imagenEvento">
        </div>

        <section id="info-evento">
            <div id="info-ubicacion-evento">
                <a th:href="${vista.direccionUrl}" target="_blank" id="lugar-evento"><span th:text="${vista.lugar}"></span></a>
                <p id="direccion-evento"><span th:text="${vista.ciudad.nombre}"></span>, <span th:text="${vista.ciudad.provincia.nombre}"></span></p>
            </div>
            <article class="carrito-entradas">
                <div id="label-carrito">
                    <label>Tipo de entrada</label>
                    <label>Cantidad</label>
                </div>
                <form th:action="@{/pago}" method="POST" id="formulario-carrito">
                <section id="contenedor_entradas" >
                    <input type="hidden" name="eventoId" th:value="${vista.id}" />
                    <div class="entrada" th:each="entrada, iterStat : ${entradas}">
                        <article class="tipo-entrada" >
                            <!-- ponemos entrada.id en oculto para poder llamar a esta etiqueta desde el controlador -->
                            <input type="hidden" name="idsEntradas" th:value="${entrada.id}" />
                            <h4 class="datos-entrada">
                                <span th:text="${entrada.nombre}"></span>
                                <span th:if="${cantidadesMaximas[iterStat.index] == 0}" style="color: #9e3030;"> SOLD OUT</span>
                            </h4>
                            <p class="datos-entrada" th:text="${entrada.precio}"></p>
                        </article>
                        <article class="cantidad">
                            <select name="cantidades" id="entrada">
                                <option value="0" selected>0</option>
                                <option th:each="i : ${cantidadesMaximas[iterStat.index] > 0 ? #numbers.sequence(1, cantidadesMaximas[iterStat.index]) : null}"
                                        th:value="${i}" th:text="${i}">
                                </option>
                            </select>
                        </article>
                    </div>
                </section>

                <input type="submit" disabled id="boton-comprar" value="Abonar">

                </form>
            </article>
        </section>
    </article>
    <article id="acerca-del-evento">
        <div id="acerca">
            <h3>Acerca de <span th:text="${vista.nombre}"></span></h3>
            <p th:text="${vista.acercaDe}"></p>
        </div>
        <div >
            <a th:href="${vista.instagramUrl}" target="_blank" id="enlace-instagram">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" id="logoInstagram" alt="Instagram Logo"/>
                <p>Accede al instagram de <span th:text="${vista.nombre}"></span></p>
            </a>
        </div>
    </article>
</main>

<footer class="pie-de-pagina">
    <section id="mas-eventos">
     <!--   <h2 id="titulo-mas-evento">Más eventos</h2> -->
        <h2 th:text="${mensajeCarrusel}"></h2>
        <article class="carrousel-eventos">
            <div th:each="evento : ${eventosCarrousel}" class="evento">
                <a th:href="@{/eventos/{id}(id=${evento.id})}" id="enlace-evento">
                    <img th:src="${evento.imagenUrl}" alt="img">
                </a>
            </div>
        </article>
        <p>© 2024 Equipo Mokito</p>
    </section>
</footer>

<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/slick.min.js}"></script>
<script th:src="@{/js/scriptCarrousel.js}"></script>
<script th:src="@{/js/agregarAlCarrito.js}"></script>

</body>
</html>